root = true

[*]
charset = utf-8

[*.{js,ts,mjs,cjs,json,jsonc,vue}]
indent_style = space
indent_size = 4

[*.pest]
indent_style = space
indent_size = 4

[*.toml]
indent_style = space
indent_size = 4
