# OS
.DS_Store/**/*

# IDE
.vscode/**/*
.vs/**/*
.idea/**/*
*.iml
*.ttf
*.log
*.txt

# Node
node_modules/
dist/
projects/packages/wordcloud/lib/*
!projects/packages/wordcloud/lib/.gitkeep

# Rust
target/**/*
Cargo.lock
*.nb
*.png